{
  "presets": [
    "env"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "inline-json-import",
      {}
    ]
  ],
  "parserOpts": {
    "plugins": [
      "dynamicImport"
    ]
  }
}