{
  "presets": [
    "env"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    "@babel/plugin-transform-runtime",
    [
      "inline-json-import",
      {}
    ]
  ],
  "parserOpts": {
    "plugins": [
      ["@babel/plugin-syntax-decorators", {"decoratorsBeforeExport": true}],
      "dynamicImport"
    ]
  }
}
