{
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    [
      "inline-json-import",
      {}
    ]
  ],
  "parserOpts": {
    "plugins": [
      ["@babel/plugin-syntax-decorators", {"decoratorsBeforeExport": true}],
      "dynamicImport"
    ]
  }
}
